@if (ViewBag.is_authorized) {
    if (ViewBag.current_client.role == "admin") {
        <text>
            <li>@Html.ActionLink("Users", "Index", "Admin")</li>
        </text>
    }
    if (ViewBag.current_client.role == "moder") {
        <text>
            <li>@Html.ActionLink("Competitions Manager", "My", "Competition")</li>
        </text>
    }
    <text>
        <li><a href="#" style="text-decoration: none">Welcome <strong>@ViewBag.current_client.fullname()</strong>!</a></li>
        <li><a href="/Account/LogOff">Sign out</a></li>
    </text>
}
else
{
    <text>
        <li><a href="/Account/LogOn">Sign in</a></li>
    </text>
}
