<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
    <configSections>
        <section name="resizer" type="ImageResizer.ResizerSection,ImageResizer" />
    </configSections>
    
    <resizer>
        <!-- Unless you (a) use Integrated mode, or (b) map all reqeusts to ASP.NET, 
              you'll need to add .ashx to your image URLs: image.jpg.ashx?width=200&height=20 -->
        <pipeline fakeExtensions=".ashx" />

        <plugins>
            <!-- <add name="DiskCache" /> -->
            <!-- <add name="PrettyGifs" /> -->
            <add name="MvcRoutingShim" />
        </plugins>
    </resizer>


    <connectionStrings>
        <add name="Artfight_CS"
             connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true"
             providerName="System.Data.SqlClient" />
        <add name="ArtfightEntities"
          connectionString="Data Source=|DataDirectory|ArtfightEntities.sdf"
          providerName="System.Data.SqlServerCe.4.0"/>
    </connectionStrings>

    <appSettings>
        <add key="webpages:Version" value="1.0.0.0"/>
        <add key="ClientValidationEnabled" value="true"/>
        <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    </appSettings>

    <system.web>
        <httpModules>
            <!-- This is for IIS5, IIS6, and IIS7 Classic, and Cassini/VS Web Server-->
            <add name="ImageResizingModule" type="ImageResizer.InterceptModule"/>
        </httpModules>
        
        <roleManager enabled="true" />
        <compilation debug="true" targetFramework="4.0">
            <assemblies>
                <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
            </assemblies>
        </compilation>

        <authentication mode="Forms">
            <forms loginUrl="~/Account/LogOn" timeout="2880" />
        </authentication>

        <pages>
            <namespaces>
                <add namespace="System.Web.Helpers" />
                <add namespace="System.Web.Mvc" />
                <add namespace="System.Web.Mvc.Ajax" />
                <add namespace="System.Web.Mvc.Html" />
                <add namespace="System.Web.Routing" />
                <add namespace="System.Web.WebPages"/>
            </namespaces>
        </pages>

        <membership>
            <providers>
                <clear/>
                <add name="AspNetSqlMembershipProvider"
                     type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
                     connectionStringName="Artfight_CS" requiresQuestionAndAnswer="false"
                     requiresUniqueEmail="true" passwordFormat="Hashed" minRequiredNonalphanumericCharacters="0"
                     minRequiredPasswordLength="3"/>
            </providers>
        </membership>

        <profile inherits="ArtFight.Models.Profile">
        </profile>

    </system.web>

    <system.webServer>
        <validation validateIntegratedModeConfiguration="false"/>
        <modules>
            <!-- This is for IIS7+ Integrated mode -->
            <add name="ImageResizingModule" type="ImageResizer.InterceptModule"/>
        </modules>
        <modules runAllManagedModulesForAllRequests="true"/>
    </system.webServer>

    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>
